<div ng-switch="vm.isAuthenticated()">
    <h3>Votes</h3>
    <div ng-switch-when="true">
        <div class="row">
            <div class="text-right">
                <!-- TODO only if user is authenticated -->
                <button type="button" class="btn btn-primary" ui-sref="home.new">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;
                    <span>Create a new Vote</span>
                </button>
            </div>
        </div>
        <div id="scrollArea">
            <div class="table-responsive">
                <div id="votes" ng-repeat="vote in vm.votes" class="col-md-7">
                    <h5>{{vote.topic}}</h5>
                    <div class="text-right" ng-if="vote.canEdit">
                        <!-- Only if user is admin or creator-->
                        <button type="button" class="btn" ui-sref="home.edit({id:vote.identifier})">
                            <span class="glyphicon glyphicon-edit"></span>&nbsp;
                            <span>Edit Vote</span>
                        </button>
                        <!-- Only if user is admin -->
                        <button type="button" class="btn btn-danger" has-authority="ROLE_ADMIN" ui-sref="home.delete({id:vote.identifier})">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
                            <span>Delete Vote</span>
                        </button>
                    </div>
                    <table class="table">
                        <tr id="options" ng-repeat="option in vote.voteOptions">
                            <td class="col-xs-1">
                                <input name="{{vote.identifier}}" type="radio" ng-model="option.userChoice" ng-value="true" ng-disabled="{{vote.userVoted==true}}" />
                            </td>
                            <td>
                                {{option.text}}
                            </td>
                            <td class="col-xs-3">
                                <div ng-if="vote.userVoted==true">
                                    <uib-progressbar min="0" max="100" value="option.percent">
                                        <span>{{option.percent}}%</span>
                                    </uib-progressbar>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div ng-if="vote.userVoted==false">
                        <button type="submit" class="btn btn-primary" ng-click="vm.save(vote)">
                            <span class="glyphicon glyphicon-check"></span>&nbsp;
                            <span>Submit Vote</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-switch-when="false">
        <h5><i>Please sign in to see available votes.</i></h5>
    </div>
</div>